# Node modules
node_modules/

# Build directories
dist/
build/

# Logs
logs
*.log
npm-debug.log*


# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Package lock
package-lock.json